.navbar {
    max-width: 1600px;
    height: 168px;
    border-bottom: 1px solid #E5E7EB;
    box-sizing: border-box;
}

.navTop {
    max-width: 1600px;
    /* border: 1px solid; */
    display: flex;
}


.logo {
    width: 133.01px;
    height: 65px;
    margin-top: 33px;
    margin-left: 29px;

}

.search-container {
    display: flex;
    width: 768px;
    border-radius: 6px 0px 0px 0px;
    margin-top: 29px;
    margin-left: 11px;
    box-sizing: border-box;
}

.search-box {
    width: 694px;
    height: 50px;
    gap: 0px;
    opacity: 0px;
    font-size: 14px;
    border-radius: 6px 0px 0px 0px;
    align-items: center;
    padding: 0px 0px 0px 15px;
    box-sizing: border-box;
    gap: 10px;
    color: #667482;
    flex-grow: 1;
    background: #F9FAFB;
}

.search-button {
    width: 49px;
    height: 50px;
    background-color: #F9FAFB;
    color: #313131;
    cursor: pointer;
    box-sizing: border-box;
}

.search-icon {
    margin-left: 12px;
}

.bulb-box {
    width: 109px;
    height: 21px;
    margin-top: 45px;
    margin-left: 110px;
    gap: 8px;
    box-sizing: border-box;
    opacity: 0px;
    display: flex;
}

.bulb-text {
    /* font-family: Poppins; */
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3B4347;
}

.like-box {
    width: 168px;
    height: 48px;
    margin-top: 31px;
    /* border: 1px solid; */
    margin-left: 12px;
    padding: 10px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.mes {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3B4347;
}

.button-24 {
    border: none;
    background: #CAD2D566;
    width: 28px;
    height: 18px;
    border-radius: 30px;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #242D30;
}

.shopping-box {
    width: 105px;
    height: 48px;
    margin-top: 31px;
    margin-left: 12px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid #007AAD;
    background: #0093D0;
    opacity: 0px;
    display: flex;
    align-items: center;
}

.panier {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.profile-box {
    display: flex;
    margin-top: 33px;
}

.profile {
    width: 40px;
    height: 40px;
    background: #EAEDEE;
    margin-left: 15px;
    border-radius: 50px;

}

.fr {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1F2A37;
    margin-left: 6px;

}

.chevron-down {
    width: 10px;
    height: 10px;
    margin-top: 18px;
    margin-left: 4px;
    margin-right: 4px;
}


/* ************ */

.navBottom {
    max-width: 1537px;
    height: 37.58px;
    margin-top: 32px;
    margin-left: 23px;
    /* margin-right: 10px; */
    /* border: 1px solid; */
}

.nav-links {
    display: flex;
    gap: 38px;
    /* justify-content: space-around; */
    color: var(--gray-500, #6B7280);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}


.art {
    color: #0093D0;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.underline {
    width: 120px;
    height: 2px;
    border: 1px solid #0093D0;
    margin-top: 15px;
    margin-left: 1px;
    background-color: #0093D0;
}